# 服务器配置
server:
  port: 8081

spring:
  profiles:
    active: dev
  main:
    allow-bean-definition-overriding: true

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always
    shutdown:
      enabled: false

# 日志配置
logging:
  config: classpath:logback-spring.xml
  level:
    root: INFO
    com.jjcy.arttoy.gateway: DEBUG